/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    background-image: url('bg.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.container{
    background-color: #7495a6;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.tip-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tip-btn {
    flex: 1 1 45%;
    padding: 10px;
    background-color: #d0885e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.tip-btn.active {
    background-color: #ac637f;
    color: white;
}

.tip-btn:hover {
    background-color: #ddd;
}

.buttons {
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

#calculate {
    background-color: #686d68;
    color: white;
}

#reset {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.9;
}

.result {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
}

.result p {
    margin: 5px 0;
}
